@model web_calendar.BL.ViewModels.NotificationViewModel

<hr />
        <div class="form-group">
            @Html.LabelFor(model => model.TimeBefore, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeBefore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeBefore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KindOfNotification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KindOfNotification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KindOfNotification, "", new { @class = "text-danger" })
            </div>
        </div>
<hr />
