@model web_calendar.BL.ViewModels.RepeatableSettingsViewModel

<div class="form-group">
    @Html.LabelFor(model => model.RepeatCount, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.RepeatCount, new { type = "number", min = "1", max = "50" ,  @class = "form-control" } )
        @Html.ValidationMessageFor(model => model.RepeatCount, "", new { @class = "text-danger" })
    </div>
</div>
<input type="hidden" id="repeatableSettings_Period" name="repeatableSettings.Period" value="day" />
<div style="margin-left:100px">
    <!-- Nav tabs -->
    <ul id="Period" class="nav nav-pills">
        <li id="day" class="active"><a href="#everyday" data-toggle="tab">Everyday</a></li>
        <li id="week"><a href="#everyweek" data-toggle="tab">Every week</a></li>
        <li id="month"><a href="#everymonth" data-toggle="tab">Every month</a></li>
        <li id="year"><a href="#everyyear" data-toggle="tab">Every year</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" style="padding-top: 20px">
        <div class="tab-pane active" id="everyday">
            <div id="TimeOfDay" class="form-group">
                @Html.Label("Repeat at:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TimeOfDay, new { @class = "form-control", @readonly="readonly" })
                </div>
            </div>
        </div>
        <div class="tab-pane" id="everyweek">
            <input type="hidden" id="repeatableSettings_DaysOfWeek" name="repeatableSettings.DaysOfWeek" value="day" />
            <label class="checkbox-inline"><input id="monday" type="checkbox" value="monday">Monday</label>
            <label class="checkbox-inline"><input id="tuesday" type="checkbox" value="tuesday">Tuesday</label>
            <label class="checkbox-inline"><input id="wednesday" type="checkbox" value="wednesday">Wednesday</label>
            <label class="checkbox-inline"><input id="thursday" type="checkbox" value="thursday">Thursday</label>
            <label class="checkbox-inline"><input id="friday" type="checkbox" value="friday">Friday</label>
            <label class="checkbox-inline"><input id="saturday" type="checkbox" value="saturday">Saturday</label>
            <label class="checkbox-inline"><input id="sunday" type="checkbox" value="sunday">Sunday</label>
        </div>
        <div class="tab-pane" id="everymonth">
            <div id="DayOfMonth" class="form-group">
                @Html.Label("Repeat at:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DayOfMonth, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="tab-pane" id="everyyear">
            <div id="DayOfYear" class="form-group">
                @Html.Label("Repeat at:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DayOfYear, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
</div>