@model web_calendar.BL.ViewModels.NotificationViewModel
@{
    if (!string.IsNullOrEmpty(Model.MyPrefix))
    {
        ViewData.TemplateInfo.HtmlFieldPrefix = Model.MyPrefix;
    }
}
<hr />
<div class="form-group">
    @Html.LabelFor(model => model.TimeBefore, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.TimeBefore, new { type = "number", min = "1", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TimeBefore, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.KindOfNotification, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.KindOfNotification, new List<SelectListItem>() 
            {
                new SelectListItem() { Text = "alert", Value = "alert", Selected = true },
                new SelectListItem() { Text = "email", Value = "email" }, 
            }, 
            htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.KindOfNotification, "", new { @class = "text-danger" })
    </div>
</div>
<hr />
