@model web_calendar.BL.ViewModels.DisplayEventViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this event?</h3>
<h5>All notifications will be deleted too.</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
                
        <dt>
            @Html.DisplayNameFor(model => model.TimeBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBegin)
        </dd>  

        <dt>
            @Html.DisplayNameFor(model => model.NotificationCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationCount)
        </dd>  

        <dt>
            @Html.DisplayNameFor(model => model.CalendarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarName)
        </dd>  

</dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Schedule")
        </div>
    }
</div>
