@model web_calendar.BL.ViewModels.DetailsEventViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarName)
        </dd>

    </dl>
    <div class="row">
        @if (Model.repeatableSettings != null)
        {
            if (Model.repeatableSettings.IfRepeatable)
            {
                <h4>Repeatable settings</h4>
                @Html.Partial("_RepeatableDetails", Model.repeatableSettings)
            }
        }
    </div>
    <div class="row">
        @if (Model.Notifications != null)
        {
            <h4>Notifications</h4>
            @Html.Partial("_ListNotificationType", Model.Notifications)
        }
    </div>
    <div class="row">
        @if (Model.Guests != null)
        {
            <h4>Guests</h4>
            <dl class="dl-horizontal">
            @foreach (var item in Model.Guests)
            {
                <dd>
                    @item
                </dd>
            }
            </dl>
        }
</div>
</div>
