@model IEnumerable<web_calendar.BL.ViewModels.DisplayEventViewModel>
@{
    ViewBag.Title = "Events";
}

<h2>My events</h2>

<p>
    @Ajax.ActionLink("Create new", "Create", "Event", new AjaxOptions { UpdateTargetId = "mainWindow" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalendarName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalendarName)
        </td>
        <td>
            @Ajax.ActionLink(" ", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "mainWindow" }, new { @class = "glyphicon glyphicon-edit" })
            @Ajax.ActionLink(" ", "Details", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "mainWindow" }, new { @class = "glyphicon glyphicon-eye-open" })                                              
            @Ajax.ActionLink(" ", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "mainWindow" }, new { @class = "glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}