@model web_calendar.BL.ViewModels.CalendarViewModel

@Ajax.ActionLink("<", "ShowPreviousMonth", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
@Ajax.ActionLink(">", "ShowNextMonth", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
@Model.calendarDateTime.GetMonthName() @Model.calendarDateTime.GetYear()

<div class="calendarMonthTable">
    <div class="monthHead">
        <div class="monthHeadTh" id="day1">Sunday</div>
        <div class="monthHeadTh" id="day2">Monday</div>
        <div class="monthHeadTh" id="day3">Tuesday</div>
        <div class="monthHeadTh" id="day4">Wednesday</div>
        <div class="monthHeadTh" id="day5">Thursday</div>
        <div class="monthHeadTh" id="day6">Friday</div>
        <div class="monthHeadTh" id="day7">Saturday</div>

        <script type="text/javascript">SetHeadColor(model.CSSHeadColor);</script>
    </div>

    <div>
        @{int counter = 1;
        int dayNumber = 1;

        int lineStartCellNumber = 1;
        int lineEndCellNumber = 7;

        int amountOfLines = 5;

        if (Model.calendarDateTime.GetAmountOfDays() == 28)
        {
            amountOfLines = 4;
        }

        if (Model.calendarDateTime.GetWeekDayNumberOfFirstMonthDay() >= 5)
        {
            amountOfLines = 6;
        }}

        @for (int i = 1; i <= amountOfLines; i++)
        {
            <div>
                @{lineStartCellNumber = 1;
                lineEndCellNumber = 7;}

                @if (i == 1)
                {
                    <div>
                        @{lineStartCellNumber = 1;
                        lineEndCellNumber = Model.calendarDateTime.GetWeekDayNumberOfFirstMonthDay();}

                        @for (int prev = lineStartCellNumber; prev <= lineEndCellNumber; prev++)
                        {
                            <div class="monthBodyTd">
                                <p></p>
                            </div>
                        }

                        @{lineStartCellNumber = lineEndCellNumber + 1;
                        lineEndCellNumber = 7;}
                    </div>
                }

                @if (i == amountOfLines)
                {
                    <div>
                        @{lineStartCellNumber = 1;
                        lineEndCellNumber = Model.calendarDateTime.GetWeekDayNumberOfLastMonthDay() + 1;}
                    </div>
                }

                @for (int j = lineStartCellNumber; j <= lineEndCellNumber; j++)
                {
                    <div>
                        @if (@dayNumber <= 31)
                        {
                            <div id="cellId@(counter)" class="monthBodyTd">
                                <p>@dayNumber
                                @foreach (var item in Model.eventList)
                                {
                                    <div>
                                        @if ((item.TimeBegin.Day == dayNumber)&&(item.TimeBegin.Month == Model.calendarDateTime.GetMonth()))
                                        {
                                            <p>@item.Name</p>
                                        }
                                    </div>
                                }
                                </p>
                                @{counter++;
                                dayNumber++;
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
<script type="text/javascript">
        var model = @Html.Raw(Json.Encode(Model));
        SetMainColor(model.CSSMainColor);
        SetHeadColor(model.CSSHeadColor);
</script>