@model web_calendar.BL.ViewModels.CalendarViewModel

<div class="calendarDayTable">
    <div class="leftNav">
        @Ajax.ActionLink("Day", "CalendarDayPartial", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Ajax.ActionLink("Week", "CalendarWeekPartial", new { id = Model.id, offset = 0 }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Ajax.ActionLink("Month", "CalendarMonthPartial", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Html.ActionLink("Schedule", "Schedule", "Event", new { }, new { id = Model.id })
    </div>

    <div class="fixedHeader">
        <div class="dayHeadRow">
            <div class="timeColTd"></div>
            <div class="dayBodyTd">
                <!--foreach (var calendarEvent in Model.eventList)
                {
                    if (calendarEvent.AllDay.HasValue && calendarEvent.AllDay.Value)
                    {
                        calendarEvent.Text;
                        break;
                    }
                }-->

                @Ajax.ActionLink("<", "ShowPreviousDay", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
                @Ajax.ActionLink(">", "ShowNextDay", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
                @Model.calendarDateTime.GetDay() @Model.calendarDateTime.GetMonthName() @Model.calendarDateTime.GetYear()
            </div>

    <div class="scrollCalendar">
        @for (int i = 1; i <= 24; i++)
        {
            <div>
                <div class="timeColTd">@String.Format("{0:D2}:00", i)</div>
                <div class="dayBodyTd">
                    @{
                        bool flag = false;
                        foreach (var calendarEvent in Model.eventList)
                        {
                            if (calendarEvent.TimeBegin.Day == Model.calendarDateTime.GetDay())
                            {
                                <div>
                                    @if (calendarEvent.TimeBegin.Hour >= i && calendarEvent.TimeBegin.Hour <= i + 1)
                                    {
                                        <div class="calendarEvent">@calendarEvent.Name;</div>
                                        flag = true;
                                    }
                                </div>
                            }
                        }
                        if (!flag)
                        {
                            <div class="calendarEvent">@string.Empty</div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">        
        var model = @Html.Raw(Json.Encode(Model));
        $(document).ready(setActiveNavigator("day"));
        setColor(document.querySelectorAll(".calendarEvent"), model.CSSHeadColor);
        setColor(document.querySelectorAll(".dayBodyTd"), model.CSSMainColor);
        setColor(document.querySelectorAll(".timeColTd"), model.CSSHeadColor);
    </script>
</div>