@model web_calendar.BL.ViewModels.CalendarViewModel

<div class="navigationCalendarContainer">
    <div class="leftNav">
        @Ajax.ActionLink("Day", "CalendarDayPartial", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" }, new { @class = "btn btn-primary btn-xs" })
        @Ajax.ActionLink("Week", "CalendarWeekPartial", new { id = Model.id, offset = 0 }, new AjaxOptions { UpdateTargetId = "calendarContainer" }, new { @class = "btn btn-primary btn-xs" })
        @Ajax.ActionLink("Month", "CalendarMonthPartial", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" }, new { @class = "btn btn-primary btn-xs" })
        @Html.ActionLink("Schedule", "Schedule", "Event", new { id = Model.id }, new { @class = "btn btn-primary btn-xs" })
    </div>
    <div class="rightNav">
        @*
            навигаторы для недели сюда
        *@
    </div>
</div>

<div class="calendarWeekTable">
    <div class="fixedHeader">
        <div class="weekHeadRow">
            <div class="timeColTh"></div>
            <div class="weekHeadTh">Sunday</div>
            <div class="weekHeadTh">Monday</div>
            <div class="weekHeadTh">Tuesday</div>
            <div class="weekHeadTh">Wednesday</div>
            <div class="weekHeadTh">Thursday</div>
            <div class="weekHeadTh">Friday</div>
            <div class="weekHeadTh">Saturday</div>
        </div>
        <div class="weekHeadRow">
            <div class="timeColTh"></div>
            @for (int i = 0; i <= 6; i++)
            {
                <div class="weekHeadTh">
                    @{
                        bool allDay = false;
                        foreach (var calendarEvent in Model.eventList)
                        {
                            if (calendarEvent.AllDay.HasValue && calendarEvent.AllDay.Value)
                            {
                                if ((int)calendarEvent.TimeBegin.DayOfWeek == i)
                                {
                                    @calendarEvent.Name;
                                    allDay = true;
                                    break;
                                }
                            }
                        }
                        if (!allDay)
                        {
                            <p style="font-size:14px;">@(" ")</p>
                        }
                    }
                </div>
            }
        </div>
    </div>

    <div class="scrollCalendar">
        @for (int i = 0; i < 24; i++)
        {
            <div class="weekBodyRow">
                <div class="timeColTd">@String.Format("{0:D2}:00", i)</div>
                @for (int j = 0; j <= 6; j++)
                {
                    <div class="weekBodyTd">
                        @{
                            bool flag = false;
                            foreach (var calendarEvent in Model.eventList)
                            {
                                if ((int)calendarEvent.TimeBegin.DayOfWeek == j)
                                {
                                    if (calendarEvent.TimeBegin.Hour >= i && calendarEvent.TimeBegin.Hour <= i + 1)
                                    {
                                        <div class="calendarEvent">@calendarEvent.Name;</div>
                                        flag = true;
                                    }
                                }
                            }
                            if (!flag)
                            {
                                <p>@string.Empty</p>
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
<script>
    var model = @Html.Raw(Json.Encode(Model));
    setColor(document.querySelectorAll(".calendarEvent"), model.CSSHeadColor);
    setColor(document.querySelectorAll(".weekBodyTd"), model.CSSMainColor);
    setColor(document.querySelectorAll(".timeColTd"), model.CSSHeadColor);
    setColor(document.querySelectorAll(".weekHeadTh"), model.CSSHeadColor);
    setColor(document.querySelectorAll(".timeColTh"), model.CSSHeadColor);
</script>
