@model web_calendar.BL.ViewModels.CalendarViewModel

<div class="navigationCalendarContainer">
    <div class="leftNav">
        @Ajax.ActionLink("Day", "CalendarDayPartial", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" }, new { @class = "btn btn-primary btn-xs" })
        @Ajax.ActionLink("Week", "CalendarWeekPartial", new { id = Model.id, offset = 0 }, new AjaxOptions { UpdateTargetId = "calendarContainer" }, new { @class = "btn btn-primary btn-xs" })
        @Ajax.ActionLink("Month", "CalendarMonthPartial", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" }, new { @class = "btn btn-primary btn-xs" })
        @Html.ActionLink("Schedule", "Schedule", "Event", new { id = Model.id }, new { @class = "btn btn-primary btn-xs" })
    </div>
    <div class="rightNav">
        @Ajax.ActionLink("<", "ShowPreviousDay", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Ajax.ActionLink(">", "ShowNextDay", new { id = Model.id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Model.calendarDateTime.GetDay() @Model.calendarDateTime.GetMonthName() @Model.calendarDateTime.GetYear()
    </div>
</div>
<div class="calendarDayTable">
    <div class="fixedHeader">
        <div class="dayHeadRow">
            <div class="timeColTd"></div>
            <div class="dayBodyTd">
                @foreach (var calendarEvent in Model.eventList)
                {
                    if (calendarEvent.TimeBegin.Day == Model.calendarDateTime.GetDay())
                    {
                        if (calendarEvent.AllDay.HasValue && calendarEvent.AllDay.Value)
                        {
                            @calendarEvent.Name;
                                                   break;
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="scrollCalendar">
        @for (int i = 1; i <= 24; i++)
        {
            <div>
                <div class="timeColTd">@String.Format("{0:D2}:00", i)</div>
                <div class="dayBodyTd">
                    @{
                        bool flag = false;
                        foreach (var calendarEvent in Model.eventList)
                        {
                            if (calendarEvent.TimeBegin.Day == Model.calendarDateTime.GetDay())
                            {
                                <div>
                                    @if (calendarEvent.TimeBegin.Hour >= i && calendarEvent.TimeBegin.Hour <= i + 1)
                                    {
                                        <div class="calendarEvent">@calendarEvent.Name;</div>
                                        flag = true;
                                    }
                                </div>
                            }
                        }
                        if (!flag)
                        {
                            <p>@string.Empty</p>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        loadScript();
        var model;
        function loadScript() {
            model = @Html.Raw(Json.Encode(Model));
            setColor(document.querySelectorAll(".calendarEvent"), model.CSSHeadColor);
            setColor(document.querySelectorAll(".dayBodyTd"), model.CSSMainColor);
            setColor(document.querySelectorAll(".timeColTd"), model.CSSHeadColor);
        };
    </script>
</div>
