@model web_calendar.BL.ViewModels.CalendarViewModel

<div>
    <h4>Calendar</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calendarColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calendarColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeZone)
        </dd>

        <div class="calendarMonthTable">
            <div class="monthHead">
                <div class="monthHeadTh">Sunday</div>
                <div class="monthHeadTh">Monday</div>
                <div class="monthHeadTh">Tuesday</div>
                <div class="monthHeadTh">Wednesday</div>
                <div class="monthHeadTh">Thursday</div>
                <div class="monthHeadTh">Friday</div>
                <div class="monthHeadTh">Saturday</div>
            </div>
            <div>
                @for (int i = 1; i <= 5; i++)
                {
                    <div>
                        @for (int j = 1; j <= 7; j++)
                        {
                            <div class="monthBodyTd">
                                @(i * j)
                                <div class="calendarEvent">event</div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
