@model web_calendar.BL.ViewModels.CalendarViewModel

<div>
    <h4>Calendar</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calendarColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calendarColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeZone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
