@model web_calendar.BL.ViewModels.CalendarViewModel

@{
    ViewBag.Title = "Edit calendar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <br />
            <h3 class="control-label col-md-2" style="color: gray;">Edit сalendar</h3>
            <br />
            <br />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "required-label control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, htmlAttributes: new { @class = "form-control", @rows = "3", @resize = "none" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendarColor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendarColor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calendarColor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.visibility, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.visibility, new SelectList(new string[] { "Only me", "Everybody" }), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.visibility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.timeZone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.timeZone, "", new { @class = "text-danger" })
                @Html.DropDownList("timezone", TimeZoneInfo.GetSystemTimeZones().Select(tz => new SelectListItem()
                {
                    Text = tz.DisplayName,
                    Value = tz.Id
                }), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        @*place partial view of notification settings*@

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp;
                @Html.ActionLink("Cancel", "Index", "Calendar", htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}