@model IEnumerable<web_calendar.BL.ViewModels.CalendarViewModel>
@using Newtonsoft.Json

    <script src="~/Scripts/customScripts.js"></script>
    <div id="results">
            <table class="table" style="width:10%">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <div>
                                <script type="text/javascript">
                                    var data = @Html.Raw(JsonConvert.SerializeObject(item))
                                    //alert(data.id);
                                    GetCalendarId(data);
                                </script>
                            </div>
                            <td>
                                @Html.ActionLink(item.name, "Details", new { id = item.id }, new { @onclick = "GetCalendarId();" })
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
                                @Html.ActionLink("Schedule", "Schedule", "Event", new { id = item.id })
                            </td>
                        </tr>
                    }
                }
            </table>
    </div>
