@model IEnumerable<web_calendar.BL.ViewModels.CalendarViewModel>

@{
    ViewBag.Title = "Calendar";
}

<div class="navigationCalendarContainer">
    <div class="leftNav">
        <button type="button" class="btn btn-default btn-xs"> < </button>
        <button type="button" class="btn btn-default btn-xs"> > </button>
        Day/Week/Month
    </div>

    <div class="rightNav">
        @Html.ActionLink("Day", "Index", new { RenderPart = "_CalendarDayPartial" })
        @Html.ActionLink("Week", "Index", new { RenderPart = "_CalendarWeekPartial" })
        @Html.ActionLink("Month", "Index", new { RenderPart = "_CalendarMonthPartial" })
        @Html.ActionLink("Schedule", "Schedule", "Event")
</div>  
</div>

<!--<p>
    Html.ActionLink("Create new", "Create")
</p>-->

<div class="miniCalendarContainer">
    <div id="datetimepicker" style="width:80%"></div>

    <table class="table" style="width:10%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.CalendarViewId })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CalendarViewId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CalendarViewId }) |                        
                        @Html.ActionLink("Schedule", "Schedule", "Event", new { id = item.CalendarViewId }, new { })
                    </td>
                </tr>
            }
        }
    </table>

</div>

<div class="calendarContainer">
        @if (ViewBag.RenderPart == "_CalendarMonthPartial")
        { 
            @Html.Action("CalendarMonthPartial");
        }
        @if (ViewBag.RenderPart == "_CalendarDayPartial")
        {
            @Html.Action("CalendarDayPartial");
        }
        @if (ViewBag.RenderPart == "_CalendarWeekPartial")
        {
            @Html.Action("CalendarWeekPartial");
        }
</div>

@section Scripts {
    <script type="text/javascript">
        $('#datetimepicker').datepicker(
            {
                inline: true
            }
        );
    </script>
}