@model IEnumerable<web_calendar.Models.CalendarViewModel>

@{
    ViewBag.Title = "Calendar";
}

<div class="navigationCalendarContainer">
    <div class="leftNav">
        <button type="button" class="btn btn-default btn-xs"> < </button>
        <button type="button" class="btn btn-default btn-xs"> > </button>
        Day/Week/Month
    </div>

    <div class="rightNav">
        @Html.ActionLink("Day", "Index", new { RenderPart = "_CalendarDayPartial" })
        @Html.ActionLink("Week", "Index", new { RenderPart = "_CalendarWeekPartial" })
        @Html.ActionLink("Month", "Index", new { RenderPart = "_CalendarMonthPartial" })
</div>  
</div>

<div class="miniCalendarContainer">
    <div id="datetimepicker" width ="80%"></div>
</div>


<div class="calendarContainer">
        @if (ViewBag.RenderPart == "_CalendarMonthPartial")
        { 
            @Html.Action("CalendarMonthPartial");
        }
        @if (ViewBag.RenderPart == "_CalendarDayPartial")
        {
            @Html.Action("CalendarDayPartial");
        }
        @if (ViewBag.RenderPart == "_CalendarWeekPartial")
        {
            @Html.Action("CalendarWeekPartial");
        }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalendarColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeZone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalendarColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section Scripts {
    <script type="text/javascript">
        $('#datetimepicker').datepicker(
            {
                inline: true
            }
        );
    </script>
}