@model IEnumerable<web_calendar.BL.ViewModels.CalendarViewModel>

@{
    ViewBag.Title = "Calendar";
}

<div class="navigationCalendarContainer">
    <div class="rightNav">
        <div id="navDay" style="display: none;">
            <button onclick="nextDay(-1);"> < </button>
            <button onclick="nextDay(+1);"> > </button>
            <text id="dayTitle">@web_calendar.Controllers.CalendarController.currentDay</text>
        </div>
        <div id="navWeek" style="display: none;">
            @Ajax.ActionLink("<", "CalendarWeekPartial", new { id = Model.FirstOrDefault().id, offset = -1 }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
            @Ajax.ActionLink(">", "CalendarWeekPartial", new { id = Model.FirstOrDefault().id, offset = 1 }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
            <text id="weekTitle">@web_calendar.Controllers.CalendarController.currentWeek</text>
        </div>
        <div id="navMonth" style="display: block;">
            @Ajax.ActionLink("<", "CalendarMonthPartial", new { id = Model.FirstOrDefault().id, offset = -1 }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
            @Ajax.ActionLink(">", "CalendarMonthPartial", new { id = Model.FirstOrDefault().id, offset = 1 }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
            <text id="monthTitle">@web_calendar.Controllers.CalendarController.currentMonth</text>
        </div>
    </div>

    <div class="leftNav">
        @Ajax.ActionLink("Day", "CalendarDayPartial", new { id = Model.FirstOrDefault().id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Ajax.ActionLink("Week", "CalendarWeekPartial", new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Ajax.ActionLink("Month", "CalendarMonthPartial", new { id = Model.FirstOrDefault().id }, new AjaxOptions { UpdateTargetId = "calendarContainer" })
        @Html.ActionLink("Schedule", "Schedule", "Event", new { }, new { id = Model.FirstOrDefault().id })
    </div>
</div>

<div class="calendarWrapper">
    <div class="miniCalendarContainer">
        <div id="datetimepicker"></div>
        <script type="text/javascript">

            function nextDay(offset) {
                debugger;
                var date = new Date($("#datetimepicker").datepicker("getDate"));
                var stringDate = date;
                date.setDate(date.getDate()+offset);
                if (date.getFullYear() < 2010)
                {
                    if (offset == 1) {
                        date = new Date('@web_calendar.Controllers.CalendarController.currentDate.AddDays(1)');
                    }
                    if (offset == -1) {
                        date = new Date('@web_calendar.Controllers.CalendarController.currentDate.AddDays(-1)');
                    }
                    stringDate = (date.getMonth() + 1) + "-" + date.getDate() + "-" + date.getFullYear();
                }                
                $('#datetimepicker').datepicker("setDate", stringDate);
            };

            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
            var dateObject;
            $("#datetimepicker").datepicker(
                {
                    inline: true,
                    format: "dd-mm-yyyy"                    
                }
            ).on("changeDate", function () {
                debugger;
                dateObject = $("#datetimepicker").datepicker("getDate");
                var dateString = dateObject.getDate() + "-" + (dateObject.getMonth() + 1) + "-" + dateObject.getFullYear();
                document.getElementById("dayTitle").innerText = monthNames[dateObject.getMonth()] + " " +dateObject.getDate();
                var model = @Html.Raw(Json.Encode(Model));
                $.ajax({
                    url: '@Url.Action("CalendarDayPartial", "Calendar")',
                    type: "get",

                    data: {id : model[0].id, Day: dateString},
                    success: function(data) {
                        document.getElementById("calendarContainer").innerHTML = data;
                        setColor(document.querySelectorAll(".calendarEvent"), "#333333");
                        setColor(document.querySelectorAll(".dayBodyTd"), "#CCCCCC");
                        setColor(document.querySelectorAll(".timeColTd"), "#666666");
                        $(document).ready(setActiveNavigator("day"));
                    }
                });
            });
        </script>
        @Html.Partial("CalendarList")
    </div>

    <div class="calendarContainer" id="calendarContainer">
        @Html.Action("CalendarMonthPartial", new { id = Model.FirstOrDefault().id })
    </div>
</div>