@{
    ViewBag.Title = "Calendar";
}

<div class="navigationCalendarContainer">
    <div class="leftNav">
        <button type="button" class="btn btn-default btn-xs"> < </button>
        <button type="button" class="btn btn-default btn-xs"> > </button>
        Day/Week/Month
    </div>

    <div class="rightNav">
        @Html.ActionLink("Day", "Index", new { RenderPart = "_CalendarDayPartial" })
        @Html.ActionLink("Week", "Index", new { RenderPart = "_CalendarWeekPartial" })
        @Html.ActionLink("Month", "Index", new { RenderPart = "_CalendarMonthPartial" })
</div>  
</div>

<div class="miniCalendarContainer">
    <div id="datetimepicker" width ="80%"></div>
</div>


<div class="calendarContainer">
        @if (ViewBag.RenderPart == "_CalendarMonthPartial")
        { 
            @Html.Action("CalendarMonthPartial");
        }
        @if (ViewBag.RenderPart == "_CalendarDayPartial")
        {
            @Html.Action("CalendarDayPartial");
        }
        @if (ViewBag.RenderPart == "_CalendarWeekPartial")
        {
            @Html.Action("CalendarWeekPartial");
        }
</div>

@section Scripts {
    <script type="text/javascript">
        $('#datetimepicker').datepicker(
            {
                inline: true
            }
        );
    </script>
}